# APPLICATION CONFIGURATION
NODE_ENV=development
LOG_LEVEL=debug
LOG_FORMAT=pretty

# DATABASE CONFIGURATION
WRITE_DB_HOST=localhost
WRITE_DB_PORT=5432
WRITE_DB_USERNAME=postgres
WRITE_DB_PASSWORD=postgres
WRITE_DB_NAME=template-w
DB_WRITE_SSL=false

# DATABASE CONFIGURATION (READ / REPLICA)
READ_DB_HOST=localhost
READ_DB_PORT=5432
READ_DB_USERNAME=postgres
READ_DB_PASSWORD=postgres
READ_DB_NAME=template-r
READ_DB_SSL=false

# KAFKA BROKER CONFIGURATION
URL_BROKER=localhost:9092
KFUSERNAME=admin
KFPASSWORD=admin-secret
CLIENT_ID_KAFKA=ms-template #change this
GROUP_ID_KAFKA=ms-template #change this

# KAFKAJS CLIENT OPTIMIZATION
KAFKA_CONNECTION_TIMEOUT=5000
KAFKA_REQUEST_TIMEOUT=30000
KAFKA_SESSION_TIMEOUT=6000
KAFKA_HEARTBEAT_INTERVAL=2000
KAFKA_REBALANCE_TIMEOUT=6000
KAFKA_MAX_BYTES_PER_PARTITION=10485760
KAFKA_MAX_BYTES=10485760
KAFKA_RETRIES=10
KAFKA_INITIAL_RETRY_TIME=300
KAFKA_MAX_RETRY_TIME=30000
